on: [push]

jobs:
  test-everywhere:
    name: Test Action
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Run the action
        uses: sharathck087/sqlserver-github-action@v1.0.1
        #uses: potatoqualitee/mssqlsuite@v1
        with:
          install: sqlengine, sqlclient, sqlpackage, localdb

      #- name: Run sqlclient
      #- uses: sharathck087/sqlserver-github-action@v1.0.1 
        #with:
          #install: sqlengine, sqlclient 

      - name: Run sqlclient
        run: sqlcmd -S ${{secrets.SERVER}} -U ${{secrets.USERNAME}} -P ${{secrets.PASSWORD}} -i /${GITHUB_WORKSPACE}/sql/*.sql
        #run: sqlcmd -S localhost -U sa -P dbatools.I0 -i /${GITHUB_WORKSPACE}/sql/test.sql
        # run: sqlcmd -S localhost -U sa -P dbatools.I0 -d tempdb -Q "SELECT @@version;"
